name: ETL

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 1' # Run at 12:00 AM on Monday
  workflow_dispatch:

jobs:
  etl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run ETL scripts
        working-directory: etl/
        env:
          motherduck_token: ${{ secrets.MOTHERDUCK_TOKEN }}
        run: |
          uv run python etl.py
          uv run python calculate_elo.py
          uv run python update_md.py
        
        
